@media (max-width: 768px) {
    .main {
        width: 100%;
    }
  }

html {
    scroll-behavior: smooth;
}

head {
    font-size: 25px;
}

body {
    max-width: 1080px;
    min-width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: auto;
    min-height: 150vh;
    background-color: rgb(33, 30, 30);
    box-shadow: 2px 2px 5px rgba(6, 111, 143, 0.5);
    font-family: 'montserrat', sans-serif;
    color: white;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
}

h2 {
    color:#8fdcdd;
}

* {
    box-sizing: border-box;
  }

.header {
    background-color: #004b65;
    border: 1px solid gray;
    padding: 10px;
    display: flex;
    align-items: center;
}

.header-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    font-size: 1.5em;
}

.profile-section {
    display: flex;
    align-items: center;
    margin: 30px;
    color: #8fdcdd;
}

.header li {
    white-space: nowrap;
}

.nav {
    background-color: #8fdcdd;
    border: 1px solid gray;
    padding: 0;
}

.my-photo {
    width: 30%;
    height: auto;
    border-radius: 50%;
    border: 1px solid gray;
}

.nav-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    list-style: none;
    padding: 0;
}

.a-project{
    color: white;
}

.a-project:hover {
    color: #004b65;
}

.a-project:visited {
    color: white;
}


.main {
    display: flex;
    flex-wrap: wrap;
    background-color: #004b65;
    border: 1px solid gray;
    padding: 10px;
}

ul, p {
    padding-inline-end: 40px;
}

li::marker {
    color:#8fdcdd
}

.li-section {
    flex: 1 1 400px;
}

.footer-container {
    background-color: #f5f5f5;
    border: 1px solid gray;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

a {
    text-decoration: none;
    position: relative;
    display: inline-block;
}

.nav-link {
    padding: 0 10px;
    line-height: 50px;
    transition: 0.5s;
    color: black;
}

.nav-link::after {
    content: '';
    position: absolute;
    bottom: 10px;
    left: 10px;
    height: 2px;
    width: 0;
    background-color: #004b65;
    transition: width 0.3s ease;
}

.nav-link:hover::after {
    width: calc(100% - 20px);
}

a:visited {
    color: black;
}

a:hover {
    cursor: pointer;
    transform: scale(1.1);
    color: #004b65;
}


.li-section {
    width: 50%;
    border-bottom: 1px solid gray;
}

.pre {
    background-color: lightblue;
    border: 1px solid gray;
    color: #004b65;
    padding: 15px;
    border-radius: 5px;
    overflow-x: auto;
    white-space: pre;
}

.footer-container {
    background-color: #8fdcdd;
}

.rs-logo {
    width: 100px;
    height: auto;
}

.rs-logo:hover {
    filter: invert(100%);
}

.footer-logo {
    display: flex;
    align-items:center;
}

.div-footer {
    color: black;
    font-weight: bold;
}
.div-footer:hover {
    color: white;
}

.footer-block {
    display: flex;
    align-items: center;
    transition: 0.5s;
}

.year-footer {
    display: flex;
    align-items: center;
    font-weight: bold;
    color: black;
}