@media (max-width: 768px) {
    .main {
        width: 100%;
    }
  }

.html {
    scroll-behavior: smooth;
}

head {
    font-size: 25px;
}

body {
    max-width: 1024px;
    min-width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: auto;
    min-height: 100vh;
    background-color: gray;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
}

* {
    box-sizing: border-box;
  }

.header {
    background-color: white;
    border: 1px solid gray;
    padding: 10px;
    display: flex;
    align-items: center;
}

.header-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    font-size: 1.5em;
}

.profile-section {
    display: flex;
    align-items: center;
    margin: 30px;
}

.header li {
    white-space: nowrap;
}

.nav {
    background-color: white;
    border: 1px solid gray;
    padding: 10px;
}

.my-photo {
    width: 30%;
    height: auto;
    border-radius: 50%;
}

.nav-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    list-style: none;

}

.nav-link {
    padding: 0 20px;
    line-height: 50px;
    transition: 0.3s;
}

.main {
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    border: 1px solid gray;
    padding: 10px;
}

.li-section {
    flex: 1 1 400px;
}

.footer-container {
    background-color: white;
    border: 1px solid gray;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

a:hover {
    cursor: pointer;
    color: black;
    background-color: gray;
}

a {
    text-decoration: none;
}

.li-section {
    width: 50%;
    border-bottom: 1px solid gray;
}

.pre {
    background-color: #f5f5f5;
    padding: 15px;
    border-radius: 5px;
    overflow-x: auto;
    white-space: pre;
}

.rs-logo {
    width: 150px;
    height: auto;
}

.rs-logo:hover {
    background-color: gray;
}

.footer-logo {
    display: flex;
    align-items:center;
}
